/* `Basic HTML
----------------------------------------------------------------------------------------------------*/
	
body {
	font: 14px/1.4 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
	color: #fff;
	font-weight: normal;
	text-align: center;
	margin: 0;
	padding: 0;
	background-image: url('/images/background_mosaic.png'); 
	background-repeat: repeat;
}
img{
	border: 0;
}
p {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; 
	font-size: 13px; 
	color: white;
}
a {
	color: #157EAD;
}
a:hover {
	color: #178dc2;
}
a.white{
	color: white;
}
a.white:hover{
	color: #CCCCCC;
}


/* Content
----------------------------------------------------------------------------------------------------*/
div.content {
	width: 880px;
	margin-left: auto;
	margin-right: auto;	
	text-align: left;
}




.contactBtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #a194a1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a194a1;
	box-shadow:inset 0px 1px 0px 0px #a194a1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ab00ab), color-stop(1, #750075) );
	background:-moz-linear-gradient( center top, #ab00ab 5%, #750075 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ab00ab', endColorstr='#750075');
	background-color:#ab00ab;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#ffffff;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; 
	font-size:15px;
	font-weight:bold;
	padding:6px 27px;
	text-decoration:none;
}.contactBtn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #750075), color-stop(1, #ab00ab) );
	background:-moz-linear-gradient( center top, #750075 5%, #ab00ab 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#750075', endColorstr='#ab00ab');
	background-color:#750075;
}.contactBtn:active {
	position:relative;
	top:1px;
}


p.small {
	font-size: 10px; 
	font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif; 
	color: white;
}

p.sms1{
	font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif; 
	font-size: 26px;
	color: #323232;
	margin: 0;padding: 0
}
p.sms2{
	font-size: 16px;
	font-family: Courier, 'Liberation Sans', FreeSans, sans-serif;
	color: #323232;
	margin: 0;padding: 0
}
p.sms2b{
	font-size: 14px;
	font-family: Verdana,Helvetica,Arial,sans-serif;
	color: #323232;
	margin: 0;padding: 0
}
ul.sms2b {
	font-size: 12px;
	font-family: Courier, FreeSans, sans-serif; 
	color: #323232;
	margin-left: -10px;margin-top: 5px;
}

p.smsCim{
	font-size: 22px;
	font-weight: bold;
	color: #2885a0;
	margin: 0;padding: 0
}

.btn1 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ff00ff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ff00ff;
	box-shadow:inset 0px 1px 0px 0px #ff00ff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #db44db), color-stop(1, #a80da8) );
	background:-moz-linear-gradient( center top, #db44db 5%, #a80da8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#db44db', endColorstr='#a80da8');
	background-color:#db44db;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #b2b6ff;
	display:inline-block;
	color:#e0f0ff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #753075;
}.btn1:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a80da8), color-stop(1, #db44db) );
	background:-moz-linear-gradient( center top, #a80da8 5%, #db44db 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a80da8', endColorstr='#db44db');
	background-color:#a80da8;
	color: white;
}.btn1:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

input.sms{
	background: #f4f4f4;
	border: solid 1px #a3a3a3;
	padding: 5px;	
	font: 25px  Verdana,Helvetica,Arial,sans-serif;
	-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 2px 3px rgba(0,0,0,.1);
	box-shadow: inset 0 2px 3px rgba(0,0,0,.1);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 0px;
	-webkit-appearance: none; /* reset webkit search style */
}
input.smsb{
	background: #db44db;
	border: solid 1px #a3a3a3;
	padding: 10px;
	font: 14px  bold Verdana,Helvetica,Arial,sans-serif;
	height: 45px;
	-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 2px 3px rgba(0,0,0,.1);
	box-shadow: inset 0 2px 3px rgba(0,0,0,.1);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-appearance: none; /* reset webkit search style */	
}
input.smsb:hover{
	background: #a80da8;
	color: white;
}